emulation/libretro/cpufilter
emulation/libretro/saves
emulation/libretro/shaders
emulation/libretro/states
emulation/libretro/audio.conf
emulation/libretro/input.conf
emulation/n64
emulation/nds
emulation/psx
emulation/snes
local/bin/*
local/include
local/lib
local/pcsx
local/share
music
sourcecode/app/*
sourcecode/emu/*
sourcecode/system/*
sourcecode/video/*
.Xauthority
.bash_history
.cache
.gentoo
.gnupg
.lesshst
.local
.pki
.pulse
.pulse-cookie
.ssh
