--disable-debug --enable-neon --enable-gles --disable-gl --disable-vdpau --disable-vaapi --disable-crystalhd --disable-vdadecoder --disable-vtbdecoder --disable-openmax --disable-joystick --disable-rsxs --disable-projectm --disable-ccache --enable-pulse --disable-ssh --disable-samba --disable-upnp --disable-mysql --disable-optical-drive --enable-exynos4 --enable-alsa --prefix=/home/liquid/local
